[push]
    default = simple
[user]
	editor = gvim
	quotepath = false
	name = wener
	email = wenermail@gmail.com
[alias]
	# This is my work anyway
	wener = checkout wener
	master = checkout master
	ci = commit
	co = checkout
	loggo = log --graph --oneline
	l = log --graph --oneline --decorate
	logg = log --graph
	sti = status --ignored
	st = status
	sts = status -s
    stsb = status -sb
    latest = clone --depth 1 -v --progress
	# svn push
	svnc = !git stash && git svn dcommit && git stash pop
	svnr = !git stash && git svn rebase  && git stash pop
[color]
    diff = auto
    status = auto
    branch = auto
	ui = true
[core]
	autocrlf = input
	safecrlf = false
	quotepath = false
[credential]
	helper = cache --timeout=36000
[url "https://"]
    # insteadOf = git://
[http "https://git.725p.flynnhub.com"]
	sslCAInfo = /Users/wener/.flynn/ca-certs/flynn-1469596429.pem
[credential "https://git.725p.flynnhub.com"]
	helper = /usr/local/bin/flynn git-credentials
[http]
	proxy = socks://127.0.0.1:8888
