[push]
	default = simple
[user]
	editor = gvim
	quotepath = false
	name = wener
	email = wenermail@gmail.com
[alias]
	ci = commit
	co = checkout
	stsb = status -sb
	loggo = log --graph --oneline
	loggod = log --graph --oneline --decorate
	logg = log --graph
	sti = status --ignored
	st = status
	sts = status -s
[color]
    diff = auto
    status = auto
    branch = auto
	ui = true
[core]
	autocrlf = input
	safecrlf = false
[credential]
	helper = cache --timeout=3600
[url "https://"]
	insteadOf = git://

